footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-image: linear-gradient(to right bottom, #d1f0b1, #d4a0a7);
    font-size: larger;
    font-family: monospace;
}

footer section h1 {
    color: #230c0f;
    font-size: x-large;
    font-weight: bold;
}

footer section ul li:hover{
    cursor: pointer;
    color: blue;
}